/* Large Mobile - 425px */
@media (max-width: 425px) {
    .animated-header {
        font-size: 0.8rem;
        padding: 0.2rem 0;
        background-color: #000;
    }

    h1 {
        font-size: 0.7rem;
    }

    .success-stories {
        max-width: 90%;
        padding: 4px;
    }

    article {
        font-size: 0.7rem;
        padding: 4px;
    }
}

/* Small Mobile - 320px */
@media (max-width: 320px) {
    .animated-header {
        font-size: 0.7rem;
        padding: 0.2rem 0;
        background-color: #000;
    }

    h1 {
        font-size: 0.6rem;
    }

    .success-stories {
        max-width: 80%;
        padding: 3px;
    }

    article {
        font-size: 0.6rem;
        padding: 3px;
    }
}

/* Medium - 360px */
@media (max-width: 360px) {
    .animated-header {
        font-size: 0.7rem;
        padding: 0.2rem 0;
        background-color: #000;
    }

    h1 {
        font-size: 0.6rem;
    }

    .success-stories {
        max-width: 85%;
        padding: 4px;
    }

    article {
        font-size: 0.6rem;
        padding: 4px;
    }
}

/* Tablet - 768px */
@media (max-width: 768px) {
    .animated-header {
        font-size: 1rem;
        /* Adjust font size for tablets */
        padding: 1rem 0;
        /* Adjust padding for tablets */
        background-color: #000;
        /* You can adjust the background color */
    }

    h1 {
        font-size: 1.3rem;
        /* Reduce font size for tablets */
    }

    .success-stories {
        max-width: 90%;
        /* Adjust the max-width for content */
        padding: 6px;
        /* Adjust padding for content */
    }

    article {
        font-size: 0.8rem;
        /* Adjust font size for content */
        padding: 6px;
        /* Adjust padding for content */
    }
}